<div class="row">  <h1>Image sharing platform</h1> </div> 
<div class="row">  <%= link_to 'Get started', new_image_path %> </div> 
<hr>  
<div class="row">   <% @images.each do |image| %> 
  <div class="col-sm-3">  
    <div class="card" style="width: 14em;">   <img src=<%= image.url %> class="card-img-top">  
      <div class="card-body">  <h5 class="card-title"><%= image.id%></h5>   <p class="card-text"> 
        <div class="row">  <% image.tag_list.each do |tag| %> 
          <span class="badge badge-warning"> <%= link_to tag , images_path(:tag=>tag) %> </span> 
          &nbsp  <% end %> 
        </div>
                 </p>  <%= link_to 'Detail', image_path(image) %> 
      </div>
       
    </div>
     
  </div>
     <% end %> 
</div> 
